table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

#foTarolo
{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    margin: 10px;
}

.konyvAdatok
{
    border: 1px solid gray;
    flex: 0 0 45%;
}